body {
	/*background:url(../img/header.jpg) top center no-repeat;*/
	background-color: #fdeeef;
	padding: 0;
	margin: 0;
	font-family: 'geff', helvetica, arial;
	font-style: 13px;
	line-height: 130%;
	/*overflow: hidden;*/
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.container2 {
	width: 990px;
	margin: 0 auto;
	position: relative;
}

#header {
	/*background:url(../img/header.jpg) top center no-repeat;*/
	width: 100%;
}
#header a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#header .logo {
	margin-top: 20px;
	display: inline-block;
	height: 150px;
	width: 238px;
}
#header .logo img {
	height: 100%;
	width: 100%;
}
#header .tagline_top {
	font-family: eggff, helvetica, arial;
	font-size: 22px;
	color: #646262;
	line-height: 130%;
	position: relative;
	padding-top: 80px;
	padding-left: 10px;
}
#header .tagline_top span {
	color: #ec2b2f;
	text-transform: uppercase;
}
#header .tagline {
	font-family: eggff, helvetica, arial;
	font-size: 21px;
	color: #a30000;
	padding: 140px 10px 0;
	line-height: 130%;
	z-index: 2;
}
#header_slide {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
#header_slide div {
	height: 500px;
	float: left;
	background: top center no-repeat;
}
#header_slide img {
	min-width: 100%;
	min-height: 100%;
}

.nav1 {
	float: left;
	width: 150px;
	margin-top: 8px;
}
.nav1 a {
	float: left;
	width: 74px;
	color: #fff;
	padding: 5px 0;
	background: #a30000;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	border-right: 1px solid #fff;
}
.nav1 a.selected {
	background: #ed282f;
}
.nav1 a:hover,
.nav2 a:hover,
.btn_submit:hover {
	opacity: 0.8;
}
.cari {
	background: #fff;
	height: 30px;
	float: left;
	width: 640px;
	margin-top: 8px;
}
.cari .input_tanya {
	border: 0;
	background: none;
	padding: 7px;
	font-family: 'geff', helvetica, arial;
	font-size: 13px;
	color: #575656;
	width: 550px;
	float: left;
}
.cari .chars {
	float: left;
	color: #c9c7c7;
	padding: 7px;
	font-size: 12px;
}
.cari .btn_submit {
	float: right;
	background: url(../img/arrow_right.png) center #ed282f no-repeat;
	width: 50px;
	border: 0;
	height: 30px;
	cursor: pointer;
}
.nav2 {
	float: right;
}
.nav2 a {
	float: left;
	margin-right: 3px;
}
.filter .fil1 {
	float: left;
	padding-top: 5px;
}
.filter .fil1 a {
	float: left;
	margin-right: 7px;
	opacity: 0.6;
	width: 35px;
}
.filter .fil1 a img {
	width: 100%;
}
.filter .fil1 a:hover,
.filter .fil1 a.selected {
	opacity: 1;
}
.filter .fil2 {
	float: left;
}
.filter .fil2 a {
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	color: #f66366;
	text-decoration: none;
	background: url(../img/check_off.png) left no-repeat;
	padding-left: 17px;
	padding-right: 10px;
	padding-top: 10px;
	cursor: pointer;

}
.filter .fil2 a:hover,
.filter .fil2 a.selected {
	background: url(../img/check_on.png) left no-repeat;
	color: #96c8cb;
}
.filter .fil3 {
	float: right;
	padding-top: 10px;
}
.filter .fil3 a,
.filter .fil3 span {
	font-size: 11px;
	color: #fd9395;
	float: left;
	text-decoration: none;
	padding: 0 3px;
}
.filter .fil3 a h5 {
	font-size: 11px;
}
.filter .fil3 a:hover,
.filter .fil3 a.selected {
	color: #aa2424;
}
.filter .fil3 span {
	color: #aa2424;
}


.ac_results {
	padding: 0px;
	border: 0px solid #ccc;
	overflow: hidden;
  	background-color: #fff;
  	z-index: 99999;
  	width: 590px !important;
  	font-family: 'geff',helvetica, arial;
	/*position: fixed !important;*/
	display: block;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
  
}

.ac_results li {
	margin: 0px;
	padding: 8px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
	color: #c4c2c2;
	font-family: 'geff',helvetica, arial;
  
}

.ac_loading {
	background : #AFD2FD url('img/loader.gif') right center no-repeat;
}
.ac_input {
	padding: 5px;
	border:1px solid #ccc;
}

.ac_over {
	background: url(../img/arrow_right.png) no-repeat #fd8f91;
	background-position: 620px;
	background-size: 15px;
	color: #fff !important;
}



.masonry,
.masonry2 {
  width: 1000px;
}

.masonry .item,
.masonry2 .item-faq {
  float: left;
}

/* item is invisible, but used for layout */
.item {
  width: 330px;
  border: none;
  background: transparent;
  position: relative;
}
.item-faq {
  width: 330px;
  border: none;
  background: transparent;
  position: relative;
}

/* item-content is visible, and transitions size */
.item-content {
  margin: 5px;
  background: #fff;
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
  color: #000;
  border: 1px solid #ccc;
  position: relative;
}
.item-content .tnya {
  background-color: #ed282f;
  padding: 10px;
  padding-bottom: 30px;
  font-size: 15px;
  color: #fff;
}
.item-content .tnya h2 {
	font-size: 15px !important;
	line-height: 130% !important;
}
.item-content .pic {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-top: -20px;
}
.item-content .pic img {
  width: 100%;
  height: auto;
}
.item-content .pic .video_ico {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.item-content .share {
  text-align: center;
  color: #565656;
  font-size: 12px;
  position: absolute;
  margin-top: -25px;
  left: 35%;
  bottom: 80px;
}
.item-content .share img {
  display: block;
  height: 50px;
}
.item-content .share span {
  float: left;
  width: 41px;
  margin-right: 20px;
}
.item-content .share span:hover,
.sharefull img:hover {
	opacity: 0.7;
}
.sharefull {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	z-index: 5;
	color: #fff;
	text-align: center;
	display: none;
}
.sharefull img {
	height: 50px;
}

.sharefull .close_share {
	position: absolute;
	right: 0;
	width: 30px;
	padding: 5px;
	height: 30px;
}
.sharefull .close_share img {
	width: 100%;
	height: 100%;
}
.sharefull .close_share:hover {
	background: rgba(255,255,255,0.3);
}


.item-content .user {
  padding: 50px 10px 10px 10px;
  position: relative;
}
.item-content .user  .img {
  width: 60px;
  height: 60px;
  text-align: center;
  float: left;
  margin-right: 10px;
}
.item-content .user  .img img {
  height: 100%;
}
.item-content .user .name {
  position: absolute;
  left: 80px;
  bottom: 10px;
  color: #b14242;
  font-size: 15px;
  line-height: 120%;
}
.item-content .user .name span {
  color: #000;
  font-size: 13px;
  display: block;
}
.item-content .label_post {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 1;
}
.item-content .videos {
  display: none;
}


.mulai {
-webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
}
.item:hover .item-content {
  border-color: #ed282f;
  cursor: pointer;
}
.isi2 {
  display: none;
}
/* both item and item content change size */
.expanded{
  width: 660px;
}
.expanded .isi2,
.expanded .close {
  display: block;
}

.expanded {
  z-index: 2;
}
.expanded .tnya {
  padding-bottom: 10px;
}
.expanded .pic {
  margin-top: 0;
}
.expanded .videos {
  display: block;
}
.expanded .videos iframe {
  width: 100%;
  height: 400px;
}
.expanded .pic_video {
  display: none;
}
.expanded .item-content .user {
	padding-top: 10px;	
}
.close {
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  display: none; ;
  height: 25px;
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
}
.close:hover {
  background: #fbdadc;
}

.jawab_box {
  padding: 10px;
  display: none;
}
.expanded .share{
  display: none;
}
.expanded .item-content .jawab_box {
  display: block;
}
.expanded .pic {
  height: auto;
}
.jawab_box .jawab {
  background: #fef0f1;
  padding: 30px 15px 10px;
  position: relative;
  font-size: 13px;
  line-height: 130%;
}
.jawab_box .jawab h3 {
	font-size: 13px;
}
.jawab_box .jwb_label{
  position: absolute;
  left: 0;
  top: 0;
  background: #ed282f;
  padding: 3px 20px;
  color: #fff;
}
.jawab_box .jawab .date {
  padding-top: 20px;
  color: #c11117;
  font-size: 12px;
}
.share_box2 {
  margin-top: 10px;
}
.share_box2 a:hover {
  opacity: 0.7;
}

.item-faq .item-content{
	border: 0;
}
.item-faq .area_list {
	background: url(../img/arrow_right2.png) no-repeat #fd8f91;
	background-position: 280px 10px;
	color: #fff;
	padding: 10px 45px 10px 20px;
	cursor: pointer;
}
.item-faq .area_list:hover {
	opacity: 0.9;
}
.item-faq .isi {
	display: none;
}
.expanded2 .isi{
	display: block;
	background: #ed282f;
	color: #fff;
	padding: 10px 45px 10px 20px;
}
.expanded2 .area_list {
	background: url(../img/arrow_down2.png) 280 10 no-repeat #fd8f91;
}


#footer {
	background: #ec2b2f;
	padding: 10px 0;
	text-align: center;
	font-size: 12px;
	color: #fff;
	width: 100%;
	position: relative;
	left: 0;
	bottom: 0;
}
#footer .copy {
	position: absolute;
	left: 0;
	top: 0;
}
#footer a {
	color: #fff;
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}


.nav_title {
	background: #ed282f;
	padding: 10px;
	text-align: center;
	position: relative;
	font-family: 'eggff',helvetica, arial;
	color: #fff;
	margin-top: 10px;
}
.nav_title .nav_home {
	position: absolute;
	left: 10px;
	top: 8px;
}
.nav_title h1 {
	font-size: 24px;
}
.content_statik {
	padding: 20px;
	font-size: 15px;
}
#pop_box2,
#pop_box3,
#pop_box4 {
	display: none;
}

/*@media screen and (max-width: 800px) {
	#footer {
		background-color: red;
		width: 1000px;
	}
}*/
@media screen and (max-width: 800px) {
	.container,
	.container2 {
		width: 100%;
	}
	#header {
		background-size: cover;
		height: 300px;
		background-position: 80%;
	}
	#header .logo {
		height: 100px;
		width: 154px;
		margin-left: 10px;
		margin-top: 20px;
	}
	#header .tagline_top {
		font-size: 15px;
		line-height: 130%;
		padding-top: 10px;
		padding-left: 10px;
	}
	#header .tagline {
		padding: 0 10px;
		font-size: 15px !important;
		line-height: 100% !important;
		padding-top: 100px;
	}
	.masonry, 
	.masonry2 {
		width: 100%;
	}

	.item,
	.item-faq {
		width: 49%;
	}

	.expanded {
		width: 98%;
	}
	.nav1 {
		padding-left: 5px;
	}
	.nav1 a {
		width: 60px;
		font-size: 15px;
	}
	.nav2 {
		position: absolute;
		right: 0;
		margin-top: 2px;
	}
	.nav2 a img{
		height: 30px;
	}
	.cari {
		width: 100%;
		width: calc(100% - 10px);
		margin: 0 5px;
		border:1px solid red;
	}
	.cari .input_tanya {
		float: left;
		width: 70%;
		width: calc(100% - 100px);
	}
	.filter {
		padding: 5px;
		position: relative;
	}
	.filter .fil1 img {
		height: 30px;
	}
	.filter .fil3 {
		position: absolute;
		right: 5px;
		top: 0;
	}
	.nav_title {
		height: 40px;
	}
	.nav_title h1 {
		float: right;
		font-size: 18px;
	}
	.item-faq .area_list {
		background-position: right top;
	}
	#header_slide div {
		height: 300px;
		float: left;
		background: top center no-repeat;
		background-size: 140%;
	}
}
@media screen and (max-width: 600px) {
	#header_slide div {
		height: 350px;
		float: left;
		background: top center no-repeat;
		background-size: 180%;
	}
}
@media screen and (max-width: 400px) {
	.container,
	.container2 {
		width: 100%;
	}
	#header .tagline_top {
		font-size: 11px;
		line-height: 130%;
		padding-top: 10px;
		padding-left: 10px;
	}
	#header .tagline {
		padding: 0 10px;
		font-size: 13px !important;
		line-height: 100% !important;
		padding-top: 40px;
	}
	.masonry, 
	.masonry2,
	.item,
	.item-faq {
		width: 100%;
	}
	#footer {
		padding-bottom: 40px;
	}
	#footer .copy {
		width: 100%;
		top: 50px;
		text-align: center;
	}
	#header {
		background-size: cover;
		height: 250px;
		background-position: 80%;
	}
	#header .logo {
		height: 70px;
		width: 120px;
		margin-left: 10px;
		margin-top: 10px;
	}
	.nav1 {
		padding-left: 5px;
	}
	.nav1 a {
		width: 60px;
		font-size: 15px;
	}
	.nav2 {
		position: absolute;
		right: 0;
		margin-top: 2px;
	}
	.nav2 a img{
		height: 30px;
	}
	.cari {
		width: 100%;
		width: calc(100% - 10px);
		margin: 0 5px;
		border:1px solid red;
	}
	.cari .input_tanya {
		float: left;
		width: 70%;
		width: calc(100% - 100px);
	}
	.filter {
		padding: 5px;
		position: relative;
	}
	.filter .fil1 img {
		height: 30px;
	}
	.filter .fil3 {
		position: absolute;
		right: 5px;
		top: 0;
	}
	.nav_title {
		height: 40px;
	}
	.nav_title h1 {
		float: right;
		font-size: 18px;
	}
	.item-faq .area_list {
		background-position: right top;
	}
	#header_slide div {
		height: 350px;
		float: left;
		background: top center no-repeat;
		background-size: 200%;
	}
}





